<p>
  <h1><%= @calendar.title %></h1>
</p>

<p>
  <strong>Description:</strong>
  <%= @calendar.description %>
</p>

<div class="pull-right">
  <%= link_to 'Back', events_path, class: "btn black" %>
  <%= link_to 'Edit', edit_calendar_path(@calendar), class: "btn btn-primary" %>
</div>
